/* /* *{
   
    border-width: 2px;
    border-color: blue;
} */
/* .head{
    padding: 0px;
   
}
.border{
    border: 1px solid rgba(147, 184, 189,0.8);
	box-shadow:	
		0pt 2px 5px rgba(68, 71, 71, 0.7),	
		0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    border-radius: 8px;
    border-style: solid;
    border-width: 8px;
    align-items: center;
}
.form{
    padding-top: 11cm;
    margin-top: 3cm;
    margin-bottom: 5cm;
    margin-left: 11cm;
    /* margin: auto; */
    /* width: 50%;
    padding: 15px;
}  */

*{
    border-width: 2px;
    border-color: blue;
    align-content: auto;
 
}
.head{
    padding: 0px;
   
}
.br{
    background-color:whitesmoke;
    height: 300px;
    width: 200px;
    margin: auto;
    margin-top: 150px;
    border-radius: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border:blue;
}
